<h2 class="content-block">SYSTEM USER x SYSTEM ROLE</h2>
<div>


  <dx-data-grid [dataSource]="dataSource" (onRowClick)="InfoSystemRole($event)">
    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>

    <dxi-column dataField="name"> </dxi-column>
    <dxi-column dataField="email"></dxi-column>
    <dxi-column dataField="registration"></dxi-column>
    <dxi-column dataField="registerDate"></dxi-column>
  </dx-data-grid>
  <dx-popup [showTitle]="true" title="Information" [dragEnabled]="false" [hideOnOutsideClick]="true"
    [showCloseButton]="true" [(visible)]="popupVisible">


    <dxi-item *ngIf="selectedSystemRole">
      <div *ngFor="let systemRole of dataSourceSystemRole">
        <dx-check-box [text]="systemRole.name" [value]="getValueRoleCheckBox(systemRole)"
          (onValueChanged)="RoleCheckBoxChange(systemRole,$event.value)">
        </dx-check-box>
      </div>
    </dxi-item>
    <dx-button class="save" text="Save" (onClick)="manageRoles()">
    </dx-button>
  </dx-popup>

</div>