::ng-deep #data-grid-demo {
  min-height: 530px;
}
.dataSourceSystemPermission li {

  color:white ;
  font-size: 14px;
  display: block;
  width: 400px;
}
#modal-pesquisa {
  color: white;

}

.dataSourceSystemPermission input {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  vertical-align: middle;
  position: relative;
}
 .save {
  display:inline-block;
  position: relative;
   padding-top: 2px;
   width:"120";  
   }
